* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#brand-title {
  width: 100%;
  font-size: 1.5rem;
  margin: 16px;
  color: rgb(255, 255, 255);
}

ul {
  display: none;
  width: inherit;
  height: inherit;
  list-style: none;
}

nav ul li {
  text-align: center;
  padding: 0.5rem;
}

nav ul li a {
  width: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#toggle-button {
  position: absolute;
  top: 22px;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 24px;
}

/* about site */

#about-container {
  margin: 16px 0px;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#toggle-button .bar {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
}

h1 {
  text-align: center;
}

#weather-app {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

#city-input {
  background-color: hsla(0, 0%, 50%, 0.324);
  padding: 10px;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

#weather-app-btn{
  border-radius: 8px;
}

#weather-output {
  font-size: 18px;
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
}

p {
  margin-bottom: 20px;
}

/* Contact Page */
#contact-page {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}
#contact-form{
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}
input{
  border: 2px solid black;
  border-radius: 4px;
}
textarea{
  border: 2px solid black;
  border-radius: 4px;
}
#contact-form-button{
  margin-top: 15px;
  border-radius: 8px;
}

/* toggle function */
ul.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 800px) {
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav ul li a {
    display: block;
  }

  #toggle-button {
    display: none;
  }

  /* about site */

  #about-container {
    /* border: 1px solid red;
    background-color: rgb(210, 210, 210); */
    margin-top: 64px;
    padding: 16px;
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  #about-text-container h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
    font-weight: 800;
    font-size: 50px;
    place-self: start center;
  }

  #about-container:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1.4rem;
    place-self: center center;
  }

  #about-text-container p {
    color: rgb(100, 100, 100);
    font-weight: 300;
    font-size: 20px;
  }

  #about-container img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 100%;
  }

  /* App page */

  #weather-app form input {
    border: none;
    background-color: #9ce6ff13;
  }

  /* Contact page */

  #contact-page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85%;
    width: 100vw;
    height: 100vh;
  }

  #contact-page-container h1 {
    grid-row: 1 / 2;
    place-self: end center;
  }

  #contact-page-container #contact-form {
    grid-row: 2 / 3;
    place-self: start center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 16px;
    width: 400px;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  #contact-page-container #contact-form input {
    width: 100%;
    height: 8%;
    border: none;
  }

  #contact-page-container #contact-form textarea {
    width: 100%;
    height: 20%;
    border: none;
  }

  #contact-form-button {
    align-self: stretch;
  }
}
