* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#brand-title {
  width: 100%;
  font-size: 1.5rem;
  margin: 16px;
  color: rgb(255, 255, 255);
}

ul {
  display: none;
  width: inherit;
  height: inherit;
  list-style: none;
}

nav ul li {
  text-align: center;
  padding: 0.5rem;
}

nav ul li a {
  width: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#toggle-button {
  position: absolute;
  top: 22px;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 24px;
}

#toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 12px;
}

#home-container {
  margin: 16px 8px;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

#weather-app {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

#city-input {
  background-color: hsla(0, 0%, 50%, 0.324);
  padding: 10px;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

#weather-output {
  font-size: 18px;
}

#about-page {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
}

p {
  margin-bottom: 20px;
}

/* Contact Page */
#contact-page {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}
#contact-form{
  /* border: 2px solid black; */
  display: flex;
  flex-flow: column nowrap;
}
input{
  border: 2px solid black;
  border-radius: 4px;
}
textarea{
  border: 2px solid black;
  border-radius: 4px;
}
#contact-form-button{
  margin-top: 15px;
  border-radius: 8px;
}

/* toggle function */
ul.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 800px) {
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav ul li a {
    display: block;
  }

  #toggle-button {
    display: none;
  }
}
